<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="float-right"
        mdbBtn
        color="default"
        mdbWavesEffect
        [routerLink]="['/articles/new']"
      >
        Add new
      </button>
    </div>
    <div class="col-sm-12">
      <table mdbTable>
        <thead class="default-color white-text">
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of articles; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ el.author }}</td>
            <td>{{ el.title }}</td>
            <td>{{ el.publishedAt.substring(0, 10) }}</td>
            <td>
              <mdb-icon fas icon="edit" class="mr-2" size="lg"></mdb-icon>
              <mdb-icon
                class="pointer"
                (click)="deleteItem(el.id)"
                fas
                icon="trash"
                size="lg"
              ></mdb-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
